:root {
    /* colors */
    --Orange: #FF6B35;
    --Dark-blue: #0C2744;
    --Blue: #004E89;
    --Light-blue: #547AD8;
    --Sky-blue: #06BEE1;
    --Green: #00916E;
    --White: #ffffff;
    --Black: #000000;

    /* spacing */
   
    --space-20: 1.25rem;

    
    /* font weights */
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    

    /* font sizes */
    --font-size-small: 1rem; /* 16px */
    --font-size-normal: 2rem; /* 32px */
    --font-size-large: 3rem; /* 48px */
    --font-size-x-large: 4.375rem; /* 70px */

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic default styling  */

body {
    font-family: "Nunito", sans-serif;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: 1.3;
    color: var(--black);
}

svg,
img {
    max-width: 100%;
    height: auto;
    display: block;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Lexend", sans-serif;
}

h1{
    font-size: var(--font-size-x-large);
    font-family: "Lexend";
    font-weight: var(--font-weight-bold);
    color: var(--Dark-blue);
}

h2{
    font-size: var(--font-size-x-large);
    font-family: "Lexend";
    font-weight: var(--font-weight-semibold);
}

input,
button {
    font-family: "Lexend", sans-serif;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    border: none;
    border-radius: .75rem;
    color: var(--White);
    padding: var(--space-20);
    margin: 0;
    display: inline-block;
    width: auto;
    background-color: var(--Dark-blue);
    text-transform: capitalize;
}

::placeholder {
    color: var(--black);
    opacity: 0.5;
}

.extrabold{
    font-weight: var(--font-weight-extrabold);
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.small-container{
    max-width: 80rem;
    margin: 0 auto;
}

.visually--hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Specific component classes */


/* ----------header------- */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--Green);
    padding: 1.25rem 7.5rem;
    margin-bottom: 3.125rem;
    border-radius: 0 0 20px 20px;
    gap: 0px;
}

.logo-icon{
    flex-shrink: 0;
    min-width: 10.75rem;
}

.nav__list{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.nav__link{
    color:var(--White);
    text-decoration: none;
    font-family: "Lexend";
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
}


.header-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header--description__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.125rem;
}

.header--description__content__text{
    display: flex;
    flex-direction: column;
    color: var(--Dark-blue);
    gap: var(--space-20);
    align-self: flex-start;
}

.header--description__content__text button{
    align-self: self-start;
}

.header--description__content__text p{
    color: var(--Dark-blue);
}

.header--description__img{
    display: flex;
    align-items: center;

}

/* --------section one-------- */

.section--one{
    background-image: url("/assets/orange\ spoiled\ oil.png");
    background-size: cover;
    background-position-y: -40px;
    height: 1943px;
    margin-top: -170px;
}

.content--tips__stop--img{
    position: relative;
    top: 20%;
    z-index: -1;
    justify-self: center;
    transform: rotate(-45deg);

}


.content--tips__title{
    justify-items: center;
    gap: 1.875rem;
}
.tips--subtitle{
    text-align: center;
    font-size: var(--font-size-large);
    max-width: 690px;
} 






