:root {
    /* colors */
    --Orange: #FF6B35;
    --Dark-blue: #0C2744;
    --Blue: #004E89;
    --Light-blue: #547AD8;
    --Sky-blue: #06BEE1;
    --Green: #00916E;
    --White: #ffffff;
    --Black: #000000;

    /* spacing */
   
    --space-20: 1.25rem;

    
    /* font weights */
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    

    /* font sizes */
    --font-size-16: 1rem; /* 16px */
    --font-size-32: 2rem; /* 32px */
    --font-size-48: 3rem; /* 48px */
    --font-size-70: 4.375rem; /* 70px */

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic default styling  */

body {
    font-family: "Nunito", sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-semibold);
    line-height: 1.3;
    color: var(--black);
}

svg,
img {
    max-width: 100%;
    height: auto;
    display: block;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Lexend", sans-serif;
}

h1{
    font-size: var(--font-size-70);
    font-family: "Lexend";
    font-weight: var(--font-weight-bold);
    color: var(--Dark-blue);
}

h2{
    font-size: var(--font-size-70);
    font-family: "Lexend";
    font-weight: var(--font-weight-bold);
}

h3{
    font-family: "Lexend";
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
}

input,
button {
    font-family: "Lexend", sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    border: none;
    border-radius: .75rem;
    color: var(--White);
    padding: var(--space-20);
    margin: 0;
    display: inline-block;
    width: auto;
    background-color: var(--Dark-blue);
    text-transform: capitalize;
}

::placeholder {
    color: var(--black);
    opacity: 0.5;
}

.extrabold{
    font-weight: var(--font-weight-extrabold);
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.small-container{
    max-width: 80rem;
    margin: 0 auto;
}

.visually--hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Specific component classes */


/* ----------header------- */








.nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--Green);
    padding: 1.25rem 7.5rem;
    margin-bottom: 3.125rem;
    border-radius: 0 0 20px 20px;
    gap: 0px;
}

.logo-icon{
    flex-shrink: 0;
    min-width: 10.75rem;
}

.nav__list{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.nav__link{
    color:var(--White);
    text-decoration: none;
    font-family: "Lexend";
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-semibold);
}


.header-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header--description__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.125rem;
}

.header--description__content__text{
    display: flex;
    flex-direction: column;
    color: var(--Dark-blue);
    gap: var(--space-20);
    align-self: flex-start;
}

.header--description__content__text button{
    align-self: self-start;
}

.header--description__content__text p{
    color: var(--Dark-blue);
}

.header--description__img{
    display: flex;
    align-items: center;
}
.header-description__img--cab{
    position: relative;
    right: -50px;
}

/* --------section one-------- */

.section--one{
    background-image: url("/assets/orange\ spoiled\ oil.png");
    background-size: cover;
    margin-top: -12.5rem;
    padding-bottom: 50px;
    height: 1943;
    width: 1440;
}

.content--tips__stop--img{
    transform: rotate(-15deg);
    position: relative;
    z-index: -1;
    left: 34%;
    top: 40px;
}

.content--tips__title{
    margin-top: 200px;
    justify-items: center;
    gap: 1.875rem;
    margin-bottom: 50px;
    color: var(--Dark-blue);
}

.tips--subtitle{
    text-align: center;
    font-size: var(--font-size-48);
    max-width: 690px;
    line-height: 120%;
} 

/* ------first tip----- */

.tip{
    display: grid;
    grid-template-areas: "left right";
    margin-bottom: 100px;
}

.tip--content{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    max-width: 660px;
    text-align: start;
    color: var(--Dark-blue);
}

.tip--number--1{
    transform: rotate(-15deg);
    position: relative;
    top: -10px;
    left: -20px;
}

.tip--img--right{
    justify-self:end ;
    align-self: self-end;
}

/* ------second tip----- */

.tip--number--2{
    transform: rotate(15deg);
    position: relative;
    top:60px;
    right: -25%;
}

.tip--right{
    grid-area: right;
    justify-self: right;
    text-align: end;
}

.content--tips__triangle--img{
     transform: rotate(-15deg);
     position: relative;
     z-index: -1;
     left: 30%;
     bottom: 30px;
}
.tip--img--left {
    justify-self: start;
    align-self: self-end;
}

/* ---------challenge------- */

.section--two{
margin-top: 120px;
}

.challenge--content{
    display: grid;
    grid-template-areas: "left right";
    margin-top: px;
}

.challenge--text {
    position: relative;
    display: flex;
    grid-area: right;
    flex-direction: column;
    gap: 2rem;
    max-width: 640px;
    text-align: start;
    color: var(--Dark-blue);
    text-align: end;
    top: -250px;
}

.challenge--text > h2{
color: var(--Orange);
}

.challenge--img{
    transform: rotate(-20deg);
}

/* ---------sectin two------- */

.content--tips__cone--img{
    position: relative;
    left:53%;
    top: 20px;
    z-index: -1;
    transform: rotate(-10deg);
}

.section--three{
    background-image: url("/assets/blue\ spoiled\ oil.png");
    background-size: cover;
    position: relative;
    margin-top: -22rem;
    height: 2350px;
    width: 1440px;
    margin-bottom: 100px;
}

.content--tips--two{
    padding-top: 220px;
}

.content--tips--two  p{
    color: var(--Orange);
}

.section--three  h3{
    color: var(--Green);
}

/* --------------three tip --------- */

.tip--number--3{
    transform: rotate(-15deg);
    position: relative;
    top: -20px;
    left: -20px;
}

/* -----------four tip------- */

.tip--number--4{
    transform: rotate(15deg);
    position: relative;
    top: 65px;
    right: -35%;
}

/* -------------five tip-------- */

.tip--five{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.tip--content--five{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.tip--content--five__text{
    display: flex;
    flex-direction: column;
    width: 665px;
    gap: 25px;
}

.tip--content--five__text h3{
    text-align: center;
}

.tip--number--5{
    transform: rotate(-15deg);
    position: relative;
    left: -15%;
}

/* -------benefits------- */

.section--benefits__heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.section--benefits h3 {
    color: var(--Green);
}

.section--benefits__heading--triangle{
    position: relative;
    transform: rotate(-15deg);
    left: -80px;
    top: 30px;
}

.section--benefits__heading--cone{  
    position: relative;
    transform: rotate(15deg);
    right: -80px;
    top: 30px;
}

.section--benefits__title{
    justify-self: center;
    width: 700px;
    color: var(--Blue);
}

.section--benefits__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section--benefits__content div{
    width: 400px;
}

.middle--benefit{
    width: 500px;
}

.middle--benefit > h3{
    text-align: center;
}

.side--benefit{
    padding-top: 270px;
}

.right--benefit p{
    text-align: end;
}


.section--benefits__content--image{
    justify-self: center;
}

/* -------footer------ */

footer{
    background-color: var(--Green);
    border-radius: 20px 20px 0 0;
}







.footer--terms









