:root {
    /* colors */
    --Orange: #FF6B35;
    --Dark-blue: #0C2744;
    --Blue: #004E89;
    --Light-blue: #547AD8;
    --Sky-blue: #06BEE1;
    --Green: #00916E;
    --White: #ffffff;
    --Black: #000000;

    /* spacing */
    --space-20: 1.25rem;

    /* font weights */
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* font sizes */
    /* 16px */
    --font-size-16: 1rem;
    /* 32px */
    --font-size-32: 2rem;
    /* 48px */
    --font-size-48: 3rem;
    /* 70px */
    --font-size-70: 4.375rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic default styling  */

body {
    font-family: "Nunito",  sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-semibold);
    min-width: 90rem;
    overflow-x: auto;
    line-height: 1.3;
    color: var(--black);
}

svg,
img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend", sans-serif;
}

h1 {
    font-size: var(--font-size-70);
    font-family: "Lexend";
    font-weight: var(--font-weight-bold);
    color: var(--Dark-blue);
}

h2 {
    font-size: var(--font-size-70);
    font-family: "Lexend";
    font-weight: var(--font-weight-bold);
}

h3 {
    font-family: "Lexend";
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
}

input,
button {
    font-family: "Lexend", sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    border: none;
    border-radius: .75rem;
    color: var(--Orange);
    padding: var(--space-20);
    margin: 0;
    display: inline-block;
    background-color: var(--Blue);
    text-transform: uppercase;
    transition: all 200ms;
}

button:hover{
    background-color: var(--Orange);
    color: var(--Blue);
    scale: 1.2;
}

::placeholder {
    color: var(--Black);
    opacity: 0.5;
}

.text-emphasis {
    font-weight: var(--font-weight-extrabold);
}

.container {
    width: 90rem;
    max-width: 90rem;
    margin: 0 auto;
}

.small-container {
    width: 80rem;
    max-width: 80rem;
    margin: 0 auto;
}

.visually--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Specific component classes */


/* ----------header------- */

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--Green);
    padding: 1rem 4rem;
    margin-bottom: 3rem;
    border-radius: 0 0 20px 20px;
}

.header__nav-list {
    display: flex;
    flex: 800;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.header__nav-link {
    color: var(--White);
    text-decoration: none;
    font-family: "Lexend" sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-semibold);
    transition: all ease-in-out 0.2s;
}

.header__nav-link:hover{
    color: var(--Dark-blue);
}

/* -----hero section------- */

.hero__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.125rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    color: var(--Dark-blue);
    gap: var(--space-20);
    align-self: flex-start;
}

.hero__text button {
    align-self: self-start;
}

.hero__text p {
    color: var(--Dark-blue);
}

.hero__image{
display: flex;
align-items: center;
position: relative;
right: -50px;
}

/* --------section one-------- */

.tips-section{
    background-image: url("../assets/orangeSpoiledOil.png");
    margin-top: -12.5rem;
    padding-bottom: 50px;
    height: 1943px;
    width: 1440px;
}

.tips-section__decoration--stop{
    transform: rotate(-15deg);
    position: relative;
    z-index: -1;
    left: 34%;
    top: 40px;
    animation-duration: 6s;
    animation-name: stop;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes stop{
    0%{
        transform: rotate(0);
    }
    
    50%{
        transform: rotate(-40deg);
    }

    100%{
        transform: rotate(15deg);
    }
}

.tips-section__header{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    gap: var(--space-20);
    margin-bottom: 50px;
    color: var(--Dark-blue);
}

.tips-section__subtitle {
    text-align: center;
    font-size: var(--font-size-48);
    max-width: 690px;
    line-height: 120%;
}

.tip__image--right {
    justify-self: end;
    align-self: flex-end;
}

.tip__image--left {
    justify-self: start;
    align-self: flex-start;
}

.tip__image--center {
    justify-self: center;
    align-self: center;
}

/* ------first tip----- */

.tip{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-areas: "left right";
    margin-bottom: 100px;
}

.tip__number:hover {
    animation: wiggle 0.5s ease-in-out infinite ;
    animation-fill-mode: both;
}

@keyframes wiggle {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(10px) translateY(10) rotate(-5deg);
    }

    50% {
        transform: translateX(3px) rotate(5deg);
    }

    75% {
        transform: translateX(-1px) rotate(-5deg);
    }

    100% {
        transform: translateX(1px) rotate(5deg);
    }
}

.tip--content {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    max-width: 660px;
    text-align: start;
    color: var(--Dark-blue);
}

.tip__number--1 {
    transform: rotate(-15deg);
    position: relative;
    top: -10px;
    left: -20px;
}

/* ------second tip----- */

.tip__number--2 {
    transform: rotate(15deg);
    position: relative;
    top: 60px;
    right: -120px;
}

.tip__content--right {
    grid-area: right;
    justify-self: right;
    text-align: end;
    width: 700px;
}

.tips-section__decoration--triangle {
    transform: rotate(-15deg);
    position: relative;
    z-index: -1;
    left: 400px;
    top: -30px;
}

/* ---------challenge------- */

.challenge{
    margin-top: 120px;
}

.challenge__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.challenge__text {
    position: relative;
    display: flex;
    grid-area: right;
    flex-direction: column;
    gap: 1rem;
    max-width: 640px;
    text-align: start;
    color: var(--Dark-blue);
    text-align: end;
    top: -320px;
}

.challenge__text>h2 {
    color: var(--Orange);
    padding-bottom: 1rem;
}

.challenge__text--jackNew{
    position: relative;
    left: 260px;
}

.challenge__image {
    transform: rotate(-20deg);
}

/* ---------sectin two------- */

.tips-section__decoration--cone {
    position: relative;
    left: 680px;
    top: 90px;
    z-index: -1;
    transform: rotate(-10deg);
}

.tips-section--secondary{
    background-image: url("../assets/blueSpoiledOil.png");
    background-size: cover;
    position: relative;
    height: 2350px;
    width: 1440px;
    top: -150px;
}

.tips-section--secondary h3 {
    color: var(--Green);
}

.tips-section__content--second {
    padding-top: 220px;
}

.tips-section__content--second p {
    color: var(--Orange);
}

/* --------------three tip --------- */

.tip__number--3 {
    transform: rotate(-15deg);
    position: relative;
    top: -20px;
    left: -20px;
    padding-bottom: 20px;
}

.tip__content--three{
    width: 650px;;
}

/* -----------four tip------- */
           
.tip__number--4 {
    transform: rotate(15deg);
    position: relative;
    top: 25px;
    right: -220px;
}

/* -------------five tip-------- */

.tip--five {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.tip__content--five {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.tip__content--text {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 25px;
}

.tip__content--text h3 {
    text-align: center;
}

.tip__number--5 {
    transform: rotate(-15deg);
    position: relative;
    left: -90px;
}

/* -------------------------benefits------------------------ */

.benefits__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.benefits__decoration--triangle{
    position: relative;
    transform: rotate(-15deg);
    left: -30px;
    top: 50px;
}

.benefits__title {
    justify-self: center;
    width: 700px;
    color: var(--Blue);
}

.benefits__decoration--cone {
    position: relative;
    transform: rotate(15deg);
    right: -30px;
    top: 50px;
}

.benefits__decoration {
    animation: swing 4s ease infinite alternate;
}

@keyframes swing {
    from{
        transform: rotate(-20deg);
    }

    to{
        transform: rotate(20deg);
    }
}

.benefits__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benefits__content h3 {
    color: var(--Green);
}

.benefits__content div {
    width: 400px;
}

.benefit-card--left{
    padding-top: 270px;
}

.benefit-card--middle{
    width: 600px;
}

.benefit-card--right h3 {
    text-align: end;
}

.benefit-card--right {
    padding-top: 270px ;
    text-align: end;
}

.benefits__image {
    justify-self: center;
    margin: 0 auto;
}

/* -------footer------ */

.footer {
    background-color: var(--Green);
    border-radius: 20px 20px 0 0;
    font-size: var(--font-size-16);
    color: var(--White);
}

.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 16px;
    font-size: 20px;
}

input {
    background-color: var(--White);
    height: 50px;
    width: 400px;
    font-size: 20px;
    border-radius: 20px 0 0 20px;
}

.footer__subscribe--form{
    display: flex;
    flex-direction:row ;
    align-content: center;
    height: 50px;
}
.footer__subscribe--button{
    height: 50px;
    font-size: 20px;
    padding: 0 2rem ;
    border-radius: 0 20px 20px 0;
}

.footer__list--link, .footer__terms--link {
    text-decoration: none;
    color: var(--White);
}

.footer__terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid white;
}